h1, h2, h3{
color: antiquewhite;
}
html{
    background-color:black;
    
}

html {
    font-family: sans-serif;
  }
  
  /* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 25%;
}
thead th:nth-child(4) {
  width: 10%;
}


th, td {
  padding: 20px;
}
/* typography */

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
/* graphics and colors */

thead, tfoot {
  background: url(../images/leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  border: 3px solid purple;
}
/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(../images/noise.png);
}

table {
  background-color: #ff33cc;
}
/* caption */

caption {
  text-decoration: underline wavy hotpink;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}




  
h1 {
  width: fit-content;
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
}



a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
color: green;
}
    
ul {
background-color:#eeeeee;
border: 5px solid purple;
padding: 33px;
border-radius: 1em;
}
html{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h3{
border:10px solid blue;
  border-bottom: 10px double hotpink;
  padding:10px;
  width:fit-content;
}
h2{
  writing-mode: vertical-rl;
  background-color: blueviolet;
  padding:15px;
  border:3px solid lime;
  margin: 10px;

}
video{
  max-width:100%;
}
