 /*Ali Sbeih*/
 
 /*The whole structure is called a ruleset. 
The Selector: This is the HTML element name at the start of the ruleset. It defines the element(s) to be styled. 
Declaration: This is a single rule. It specifies which of the element's properties you want to style
Properties: These are ways in which you can style an HTML element. 
Property value: chooses one out of many possible appearances for a given property. 
*/
  html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Fascinate", cursive; /* this should be the rest of the output from Google fonts */
  }

  h1 {
    /*sets a color*/
    color: white;
    font-size: 65px;
        /*centers the text*/
    text-align: center;
    border-bottom: 0.2em dashed;
  }
  
  p, li {
    font-size: 25px;
       /*sets a line height*/
    line-height: 2;
      /*sets a letter spacing*/
    letter-spacing: 1px;
  }
  
  html {
    /*sets a background color*/
    background-color: #DB2DCA;
    background-image: url("https://media.istockphoto.com/photos/big-and-small-picture-id172759822?b=1&k=20&m=172759822&s=170667a&w=0&h=kkmaR2OYuS14rTiEotbzXoBecwnRePNC79Jsgl3M4dY=");
  }


  body {
    /*sets the body width*/
    width: 800px;
      /*sets the vertical margins and horizontal margins respectively*/
      /*auto divides space equally*/
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.856);
        /*sets space around the content*/
    padding: 0 20px 20px 20px;
        /*sets the style, color, and width of a border to the padding*/
    border: 5px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #DB2DCA;
    text-shadow: 25px 25px 1px black;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }

  #red {
    color:red;
  }
  #green {
    color:green;
  }
  #blue {
    color:blue;
  }